*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.img-deg {
    float: right;
    border-radius: 4%;
    padding-right: 2%;

}

.img-degg {
    float: left;
    border-radius: 4%;
    padding-right: 2%;
}

.first-div {
    font-family: 'Asap Condensed', sans-serif;
    background-color: #D4ADFC;
    width: 70%;
    left: 15%;
    top: 20%;
    padding: 1%;
    position: absolute;
    text-align: center;
    border-radius: 4%;
    font-size: large;
    height: 52%;
}

.second-div {
    font-family: 'Asap Condensed', sans-serif;
    background-color: #D4ADFC;
    width: 70%;
    left: 15%;
    height: 49%;
    padding: 1%;
    top: 80%;
    position: absolute;
    text-align: center;
    border-radius: 4%;
    font-size: large;
}

.team {
    text-align: center;
    margin-top: 59%;
    font-family: 'Asap Condensed', sans-serif;
}

body {

    background: #ffffff;
    color: black;
    font-family: 'Asap Condensed', sans-serif;
}

img {
    max-width: 100%;
}

.pro-card {
    font-family: 'Asap Condensed', sans-serif;
    width: 245px;
    padding: 30px;
    background-size: 100% auto;
    background-color: #5C469C;
    transition: all 0.4s ease-out;
    position: relative;
    overflow: hidden;
}

.pro-card img {
    border-radius: 50%;
    display: block;
    transition: all 0.4s ease-out;
    transform-origin: top;
    position: relative;
    z-index: 1;
}

.pro-card:hover {
    background-position: 0 -50%
}

.pro-card:hover img {
    transform: scale(0.3);
}

.pro-card .description {
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    font-size: 15px;
    text-align: center;
    font-family: 'Asap Condensed', sans-serif;
}

.pro-card .description h3 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    transition: all 0.4s ease-out;
    transform: translateX(-150%);
}

.pro-card .description p {
    margin-bottom: 0px;
    transition: all 0.4s ease-out;
    transform: translateX(150%);
}

.pro-card:hover .description h3 {
    transform: translateX(0%);
}

.pro-card:hover .description p {
    transform: translateX(0%);
}

.card {
    display: inline;

}

.first {
    display: inline-flex;
    margin-left: 23%;
    font-size: large;

}

.second {
    display: inline-flex;
    margin-left: 23%;
    font-size: large;
}

:root {
    --bg-color: white;
    --text-color: black;
    --green: #7555b9;
}

body {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dark-mode {
    --bg-color: #222222;
    --text-color: white;
}

.header-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    background: var(--green);
}

.header-3 {
    background: #27036b;
    color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    position: relative;
    z-index: 10000;

}

.header-3 .navbar a {
    color: #ffffff;
    font-size: 1.4rem;
    margin-right: 2rem;
    text-decoration: none;
}

.header-3 .icons a {
    color: #ffffff;
    font-size: 2.5rem;
    margin-left: 2rem;
    text-decoration: none;
}

.header-3 a:hover {
    color: var(--green);
}

#menu-bar {
    font-size: 3rem;
    color: #666;
    border: .1rem solid #666;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

.header-3.active {
    top: 0;
    left: 0;
    right: 0;
}


.header-3 .icons a {
    color: #ffffff;
    font-size: 1.5rem;
    margin-left: 1rem;
}


.footer {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    background-color: #0C134F;
    color: white;
    padding-left: 5px;
    margin-top: 100px;
    text-align: center;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}

.footer .box-container .box {
    padding: 0.4rem;
    flex: 20rem;
    text-align: center;

}

.footer .box-container .box h3 {
    color: #faf5f5;
    font-size: 1.5rem;
    padding: 0.4rem;
    text-align: center;
}

.footer .box-container .box p {
    color: #fffafa;
    font-size: 1rem;
    padding: 0.4rem;
    text-align: center;
}

.footer .box-container .box a {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-align: center;
    display: block;
    color: #fffdfd;
    font-size: 1rem;
    padding: 0.4rem;
    text-decoration: none;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
    color: var(--green);
}

.footer .credit {
    font-size: 1rem;
    padding: 0.4rem;
    margin-top: 1.5rem;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    text-align: center;
    font-weight: normal;
    padding-left: 5px;
}

.footer .credit span {
    color: var(--green);
}
