.page {
  border-bottom: solid 2px rgb(213, 136, 248);
}

.header-3 .icons a {
  color: #ffffff;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header-3 a:hover {
  color: var(--green);
}

#menu-bar {
  font-size: 3rem;
  color: #666;
  border: .1rem solid #666;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  display: none;
}

.header-3.active {
  top: 0;
  left: 0;
  right: 0;
}

/* main */
.centeralized {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.centeralized {
  display: flex;
  justify-content: center;
}

main {
  height: 50%;
  display: flex;
  flex-flow: column nowrap;

}

.title {
  padding: 5%;
  text-align: center;
  background-color: #f3ddfe;
  height: 5%;
  font-size: 250%;
  margin-bottom: 100px;
}

.title p {
  text-decoration: underline;
}

.flex-horizontal {
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid #f3ddfe;
  border-radius: 25px;
  margin: 10px auto;
  padding: auto;
}

.customize {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  background-color: #f3ddfe;
  border-radius: 2vw;
  margin: 2vw 3vw 2vw 0;
  padding: 2vw;
  font-size: x-large;
  margin-left: 25px;
  width: 40%;
  height: 75%;
}



form select option {
  color: #2d3667;

}

.selected h3,
.customize div p,
{
font-size: 1.5vw;
/* margin: 0 0 0 0.5vw; */
font-weight: bold;
padding: 1vw;
}



.selected img:hover {
  opacity: 0.7;
  /* Reduce opacity on hover */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

/* CSS for click effect */
.selected img:active {
  transform: scale(0.9);
  /* Scale down the image on click */
}

select {
  font-size: 1.0vw;
  /* margin: 0 0 0 0.5vw; */
  font-weight: bold;
  padding: 0.3vw 0;
}



/* Hide the default checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 24px;
  height: 24px;
  border: 2px solid #0c134f8d;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  position: relative;
  cursor: pointer;
}

/* Checkbox checked state */
input[type="checkbox"]:checked {
  border-color: #0C134F;
  background-color: #0C134F;
}

/* Checkbox checked state: Checkmark */
input[type="checkbox"]:checked:before {
  content: "\2713";
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Checkbox hover state */
input[type="checkbox"]:hover {
  border-color: #0C134F;
}

/* Checkbox focus state */
input[type="checkbox"]:focus {
  border-color: #333;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

/* Checkbox disabled state */
input[type="checkbox"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Add more customizations as needed */





.customize div button {
  font-size: 0.75vw;
  margin: 0 0 0 0.5vw;
  font-weight: bold;
  max-width: 10vw;
}

.selected div {
  margin: 1vw .5vw;
  padding: 0.5vw 1.5vw;
  text-align: center;
  display: block;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: #0C134F;
  color: white;
  border-radius: 25px;
  align-items: center;
}

.selected div div {
  margin: 1vw .5vw;
  padding: 0.5vw 1.5vw;
  text-align: center;
  display: block;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: #0C134F;
  color: white;
  border-radius: 25px;
  align-items: center;

}

.rangeparents {
  display: flex;
  justify-content: space-around;
}

.range {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: #0C134F;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset #f3ddfe;
}

#valueDisplay {
  display: inline-block;
  font-size: x-large;
}

#min-maxDisplay {
  display: flex;
  justify-content: space-between;
}

#stepsall {
  border-radius: 8px;
  height: 20px;

  outline: none;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 20px;
  background: #e1aefb;
  border-radius: 2px;
}

input[type=submit] {
  background-color: #0C134F;
  border: # 4px;
  color: white;
  width: 50%;
  align-self: center;
  padding: 20vh 0;
}

select {
  background-color: #0C134F;
  color: white;
  width: 100%;

}


select {
  background-color: #0C134F;
  color: #fff;
  padding: 10px;
  width: 250px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  /* box-shadow: 0 5px 48px rgb(93, 15, 9); */
  -webkit-appearance: button;
  outline: none;
  width: 100%;

}

.check-div {
  margin: 1vw 0.5vw;
  padding: 0.5vw 1.5vw;
  /* text-align: center; */
  display: inline-flex;
  flex-flow: rcw;
  /* justify-content: space-evenly; */
  /* max-width: 300px; */

}

.hardware p,
.Design p,
.Software p {
  font-weight: bold;
  border: #0C134F solid 2px;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  /* background-color: #edccfe; */
  color: #0C134F;
}


fieldset {
  background-color: white;
  transition: opacity 0.3s ease-in-out;

}



fieldset.active {
  opacity: 1;
}


fieldset img {
  padding: 0;
  margin: 0;
  width: 100%;

}

.image-button {
  cursor: pointer;
}


.image-button:hover {
  opacity: 0.8;
}

.image-button:active {
  opacity: 0.6;
}

.icon {
  margin-right: 25px;
}

.items fieldset {
  /* display: none; */
  opacity: 0;
  transition: opacity .1s ease-in-out;
  pointer-events: none;

}

.items fieldset.active {
  border-radius: 25px;
  margin: 2vw 1.5vw 2vw 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* font-size: 1.5em; */
  opacity: 1;
  pointer-events: auto;
}

.items fieldset:not(.active) {
  position: absolute;
  top: +10000;
  left: +100000;
  visibility: hidden;
}

.items h2 {
  text-align: center;
  font-size: 1.5em;
}

.items p,
.items ul li {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 8px;
  padding: 0 4px 0 0;
  list-style-type: disc;
}

.price {
  color: white;
  background-color: #0C134F;
  border-radius: 2vh;
  font-weight: bold;
  width: 25%;
  height: 10%;
  padding: 0 4px 0 0;
  align-self: center;
}

.items button {
  background-color: #0C134F;
  border: #f3ddfe;
  color: white;
  width: 50%;
  align-self: center;
  padding: 1vh;
  /* margin: 2vh 0; */
}

.items ul li {
  text-align: none;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}





/* footer */

.footer {
  background-color: #0C134F;
  color: white;
  text-transform: capitalize;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  color: #faf5f5;
  font-size: 2.5rem;
  padding: 2rem;
}

.footer .box-container .box p {
  color: #fffafa;
  font-size: 1.5rem;
  padding: 2rem;
}

.footer .box-container .box a {
  display: block;
  color: #fffdfd;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 2rem;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  color: var(--green);
}

.footer .credit {
  font-size: 2rem;
  padding: 2rem 2rem;
  margin-top: 2rem;
  border-top: .1rem solid rgba(0, 0, 0, .1);
  text-align: center;
  font-weight: normal;
}

.footer .credit span {
  color: var(--green);
}

.scroll-top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 1000;
  font-size: 3.5rem;
  background: rgba(176, 144, 202, 0.418);
  color: var(--green);
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: .5rem 1.5rem;
  display: none;
}

.scroll-top:hover {
  background: var(--green);
  color: #fff;
}

















/* media queries  */

@media (max-width:1200px) {

  html {
    font-size: 55%;
  }

}

@media (max-width:991px) {

  .header-1,
  .header-2,
  .header-3 {
    padding: 2rem;
  }

  section {
    padding: 1.5rem;
  }

}

@media (max-width:768px) {

  #menu-bar {
    display: initial;
  }

  .header-3 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    padding: 1rem 2rem;
    border-top: .1rem solid rgba(0, 0, 0, .3);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header-3 .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header-3 .navbar a {
    display: block;
    margin: 1.5rem 0;
    padding: 1.5rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    background: #fff;
    text-align: center;
  }

  .header-2 {
    flex-flow: column;
  }

  .header-2 .search-bar-container {
    width: 100%;
    margin-top: 2rem;
  }

  .home .home-slider .box {
    background-position: right !important;
    z-index: 0;
  }

  .home .home-slider .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(255, 255, 255, .7);
  }

  .home .home-slider .box .content h3 {
    font-size: 4.5rem;
  }

}

@media (max-width:450px) {

  html {
    font-size: 50%;
  }

  .header-1 {
    display: none;
  }

  .deal .row .content .count-down .box {
    width: 7rem;
  }

  .deal .row .content .count-down .box h3 {
    font-size: 3rem;
    padding: .5rem 0;
  }

  .deal .row .content .count-down .box span {
    font-size: 1.5rem;
  }

}


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container {
  width: 1200px;
  border: 1px solid var(--white);
  max-width: 100%;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 200px auto 300px;
  padding: 20px;
  border-radius: 30px;
  min-height: 80vh;
}

.container .cart {
  background-color: var(--white);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.container .center {
  background-color: var(--light);
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
}

/* center */



.footer {
  padding: 4px;
  background-color: #0C134F;
  color: #ffffff;
}


.decrease-btn {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 2px;
  --glow-color: none;
  --glow-spread-color: none;
  --enhanced-glow-color: none;
  --btn-color: none;
}

.increase-btn {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 2px;
  --glow-color: none;
  --glow-spread-color: none;
  --enhanced-glow-color: none;
  --btn-color: none;
}


button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}


.buy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #ce88d4;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms
}

.buy:hover {
  color: white;
  cursor: pointer;
}

.cancel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #212121;
  border: none;
  font: inherit;
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  cursor: not-allowed;
  overflow: hidden;
  transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
}

.cancel:hover {
  transition: none;
  cursor: pointer;
  animation: shake 0.2s linear 1;
  background-color: red;
}

.buy {
  /* margin-top: 2vh; */

}

.buy:hover::before {
  width: 100%;
}



input[type=submit] {
  font-size: 17px;
  padding: 0.75vw 2vw;
  border-radius: 0.7rem;
  background-image: linear-gradient(#c9cad241, #0C134F);
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  box-shadow: 0px 1px 6px 0px #0C134F;
  transform: translate(0, -3px);
  transition: 0.2s;
  transition-timing-function: linear;
}


input[type=submit] :active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}


input[type=submit]:hover {
  transform: translateY(-0.33em);
  background: #f3ddfe;
  background: linear-gradient(90deg, #d875d0 0%, #f3ddfe 100%);
  cursor: pointer;

}











.cart-box {
  width: 26% !important;
  position: absolute;
  left: 72%;
  top: 25%;
  /* border:solid 1px blue; */
  padding: 10px 20px;
}

h2 {
  font-size: x-large;
  padding: 15px 10px;
}

.cart-wrapper {
  overflow-y: auto;
  max-height: 50%;
  width: 24vw;
}

.subtotal {
  text-align: right;
  padding: 5%;
}

.checkout,
.view-cart {
  width: 95%;
  text-align: center;
  cursor: pointer;
  background-color: rgb(189, 117, 223);
  font-size: large;
  color: #fff;
  margin: 10px auto;
  padding: 10px 15px;

}

.checkout {
  margin-left: 4%;
}

.view-cart {
  background-color: #fff;
  border: 2px solid rgb(42, 44, 165);
  color: rgb(27, 43, 134);
}

.cart-icon {
  text-align: right;
}

.cart-item {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding: 5% 2%;
  border-bottom: solid 1px lightgray;
}

.cart-item img {
  width: 100%;
}

.cart-item .details {
  padding-left: 10%;
}

.cart-item h3 {
  text-align: left;
  margin-bottom: 5%;
}

.cart-item .price {
  display: block;
  text-align: right;
  margin-top: 35%;
}

.quantity {
  display: block;
  margin-top: 5%;
}

.fa-window-close {
  color: rgb(126, 42, 165);
}

.cancel {
  text-align: right;
}

.whole-cart-window {
  border: solid lightgray 1px;
  border-top: none;
  position: fixed;
  top: 12vh;
  background-color: #fff;
  padding-right: 2%;
  height: 100%;

}

.hide {
  display: none;
}

.non-empty::after {
  content: var(--after-content);
  font-size: 25px;
  width: 25px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -20px;
  right: 20%;
  background-color: rgb(212, 0, 255);
  border-radius: 50%;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;


}

.card-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(107, 74, 185);
  margin: 5rem;
  background: linear-gradient(to bottom, #d875d0, #7f27e4);
}

.card-item img {
  width: 100%;
  margin-top: 0;
}

.card-item .details {
  text-align: center;
  color: #ddd;
}

.img {
  height: 30050px;
  width: 250px;
  margin-bottom: 2rem;
}

.card-item p,
.card-item h3 {
  margin-top: 10px;
}

.card-item span {
  display: block;
  margin-top: 10px;
}

.add-to-cart-btn {
  width: fit-content;
  margin: auto;
  /* margin-top:10px; */
  padding: 10px 15px;
  cursor: pointer;
  background-color: rgb(255, 246, 255);
  border: solid 2px #451880;
  border-radius: 3px;
  font-size: large;
  color: #5f208a
}




/* new header & footer  */


:root {
  --bg-color: white;
  --text-color: black;
  --green: #7555b9;

}

* {
  font-family: 'Asap Condensed', sans-serif;

}

body {
  font-family: 'Asap Condensed', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-mode {
  --bg-color: #222222;
  --text-color: white;
}

.header-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--green);
}

.header-3 {
  background: #27036b;
  color: #FFFFFF;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  position: relative;
  z-index: 10000;
}

.header-3 .navbar a {
  color: #ffffff;
  font-size: 1.4rem;
  margin-right: 2rem;
  text-decoration: none;
}

.header-3 .icons a {
  color: #ffffff;
  font-size: 2.5rem;
  margin-left: 2rem;
  text-decoration: none;
}

.header-3 a:hover {
  color: var(--green);
}

#menu-bar {
  font-size: 3rem;
  color: #666;
  border: .1rem solid #666;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  display: none;
}

.header-3.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-3 .icons a {
  color: #ffffff;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.footer {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  background-color: #0C134F;
  color: white;
  padding-left: 40px;
  margin-top: 100px;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer .box-container .box {
  padding: 1rem;
  flex: 1 1 20rem;
}

.footer .box-container .box h3 {
  color: #FAF5F5;
  font-size: 1.5rem;
  padding: 1rem;
}

.footer .box-container .box p {
  color: #FFFAFA;
  font-size: 1rem;
  padding: 1rem;
}

.footer .box-container .box a {
  display: block;
  color: #FFFDFD;
  font-size: 1rem;
  padding: .5rem;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  color: var(--green);
}

.footer .credit {
  font-size: 1rem;
  padding: 1rem 1rem;
  margin-top: 1.5rem;
  border-top: .1rem solid rgba(0, 0, 0, .1);
  text-align: center;
  font-weight: normal;
}

.footer .credit span {
  color: var(--green);
}