


:root {
    --bg-color: white;
    --text-color: black;
    --green:#7555b9;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .dark-mode {
    --bg-color: #222222;
    --text-color: white;
  }
  
  .header-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:var(--green);
  }
  
  .header-3{
    background:#27036b;
    color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
   z-index: 10000;
   
  }
 
  .header-3 .navbar a{
    color:#ffffff;
    font-size: 1.4rem;
    margin-right: 2rem;
    text-decoration: none;
  }
  
  .header-3 .icons a{
    color:#ffffff;
    font-size: 2.5rem;
    margin-left: 2rem;
    text-decoration: none;
  }
  
  .header-3 a:hover{
    color:var(--green);
  }
  
  #menu-bar{
    font-size: 3rem;
    color:#666;
    border:.1rem solid #666;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .header-3.active{
    position: fixed;
    top:0; left: 0; right: 0;
  }


  .header-3 .icons a{
    color:#ffffff;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  

  .footer {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    background-color: #0C134F;
    color: white;
    padding-left: 40px; 
    margin-top: 100px;
  }
  
  .footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .footer .box-container .box {
    padding: 1rem;
    flex: 1 1 20rem;
   
  }
  
  .footer .box-container .box h3 {
    color: #faf5f5;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .footer .box-container .box p {
    color: #fffafa;
    font-size: 1rem;
    padding: 1rem;
  }
  
  .footer .box-container .box a {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    display: block;
    color: #fffdfd;
    font-size: 1rem;
    padding: .5rem;
  }
  
  .footer .box-container .box a:hover {
    text-decoration: underline;
    color: var(--green);
  }
  
  .footer .credit {
    font-size: 1rem;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    text-align: center;
    font-weight: normal;
  }
  
  .footer .credit span {
    color: var(--green);
  }
  * {
    font-family: 'Asap Condensed', sans-serif;
  
  }



  

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.buy:hover {
  color: white;
  cursor: pointer;
}
