*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #1E1E1E;
  color: white;
}






.btnHead {
    
  --color: #7555b9;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .btnHead::after, .btnHead::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btnHead::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btnHead:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btnHead:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btnHead:hover {
  color: var(--color2);
 }
 
 .btnHead:active {
  filter: brightness(.7);
  transform: scale(.98);
 }
.header-1,
.header-2,
.header-3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  background:var(--green);
}

.header-1{
  border-bottom: .1rem solid rgb(255, 255, 255);
}

.header-3{
  background:#27036b;
  color: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  position: relative;
  z-index: 10000;
}

.header-1 span{
  font-weight: lighter;
  color:#fff;
  font-size: 1.7rem;
}

.header-1 a{
  padding:0 .7rem;
  color:#fff;
  font-size: 2rem;
}

.header-1 a:hover{
  color:yellow;
}

.header-2 .logo{
  font-weight: bolder;
  font-size: 3rem;
  color:#fff;
}

.header-2 .logo i{
  color:yellow;
}

.header-2 .search-bar-container{
  display: flex;
  align-items: center;
  width: 50rem;
  padding:1.5rem;
  background:rgba(255,255,255,.2);
  border-radius: .5rem;
}

.header-2 .search-bar-container #search-bar{
  width: 100%;
  background:none;
  text-transform: none;
  color:#fff;
  font-size: 1.7rem;
}

.header-2 .search-bar-container #search-bar::placeholder{
  text-transform: capitalize;
  color:#ddd;
}

.header-2 .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 2rem;
  padding:0 .5rem;
}

.header-2 .search-bar-container label:hover{
  color:yellow;
}

.header-3 .navbar a{
  color:#ffffff;
  font-size: 2rem;
  margin-right: 2rem;
}

.header-3 .icons a{
  color:#ffffff;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header-3 a:hover{
  color:var(--green);
}

#menu-bar{
  font-size: 3rem;
  color:#666;
  border:.1rem solid #666;
  border-radius: .5rem;
  padding:.5rem 1.5rem;
  cursor: pointer;
  display: none;
}

.header-3.active{
  position: fixed;
  top:0; left: 0; right: 0;
}















.container{
    width: 100%;
    display: flex;
}
.product{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.gallery{
    flex-basis: 20%;
    position: relative;
}
.gallery img{
    width: 100%;
    display: block;
    padding-top: 15px;
}

.details{
   
    padding: 40px;
    
   

}

.details h1{
    margin: 10px;

}
.details hr{
    margin: 10px;
    border: 1px solid black;
}

 .stars {
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 10px;
  }
.stars i {
    color: #e6e6e6;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease;
  }
.stars .kk {
    color: #ff9c1a;
  }
  .stars a{
    text-decoration: none;
    color: black;
  }





.controls{
    position: absolute;
    bottom: 0px;
    left: 35%;
    
    
}

.btn{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 8px;
    cursor: pointer;
    background: #D4ADFC;
}
.btn.active{
    background: #4833ec;
}








.fa-cart-plus{
    background:#5C469C;
  }
  
  .addtocart{
    display:block;
    margin-top: 30px;
    border-radius:8px;
    border:none;
    font-size:1em;
    position:relative;
    background:#5C469C;
    cursor:pointer;
    height:2em;
    width:8em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
  }
  .addtocart:hover{
    transform:scale(1.1);
  }
  .pretext{
    color:#fff;
    background:#5C469C;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
   
  }
  i{
    margin-right:10px;
  }
  .done{
    background:#5C469C;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    transition:transform 0.3s ease;
  
    transform:translate(-110%) skew(-40deg);
  }
  .posttext{
    background:#5C469C;
  }
  .fa-check{
    background:#5C469C;
  }
  

  .similar-h1{
    margin-top: 30px;
    text-align: center;

  }
  .similar-products{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
  }
  .similar-item{
    width: 40%;
    height: 250px;
    padding: 8px;
    
  }
  
  .similar-item img{
 width: 100%;
 
 
  }
  .gradient{
    background-image: linear-gradient(to bottom , #D4ADFC, #0C134F);
    border-radius: 6px;
    display: flex;
    width: 25%;
    justify-content: center; 
    align-content: center;
    text-align: center;
  }
  .similar-item p{
    color:white ;
  }

.priceM{
    margin-top: 45%;
    font-size: 32px;
    color: #191D5A;
}
.similarbtn{
    margin-top: 20px;
    padding: 8px;
    display:block;
    border-radius:8px;
    border:none;
    position:relative;
    left: 16%;
    background:#5C469C;
    cursor:pointer;
    height:12%;
    width:80%;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
}


.similarbtn:hover{
  transform:scale(1.1);
}

i{
  margin-right:10px;
}







.hr2{
    border: 1px solid black;
    margin-top: 3%;

}
.Reviews{
  margin: 16px;
}

.ReviewsSction{
  display: flex;
  
    margin-left: 3.5%;
    margin-top: 16px;
    text-align: center;
    align-content: center;


}

.gradient2{
  background-image: linear-gradient(to bottom , #D4ADFC, #0C134F);
  border-radius: 6px;
  display: flex;
  width: 100%;
  height: 150px;
  margin: 16px;
  align-content: center;

}

.ReviewImg{
  width: 60%;
  height: 150px;
  padding: 8px;


}
.ReviewImg img{
  width: 100px;
  height: 100px;
  padding: 8px;
  border-radius: 50%;

}
.email{
  padding-top: 10%;

}

.ReviewText{
  margin-left: 20%;
  border-left: 2px solid black;
  height: 120px;
  margin-top: 1.5%;
  position:absolute;
  left: 30%;
  padding-left: 4%;
  text-align: center;


}
.ReviewText2{
  margin-left: 20%;
  border-left: 2px solid black;
  height: 120px;
  margin-top: 10%;
  position:absolute;
  left: 30%;
  padding-left: 4%;
  text-align: center;

  
}
