*{
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}




.title{
  font-size: 2rem;
  text-align: center;
  align-items: center;

}


#cart-items {
  position: absolute;
  top: 30px; /* Adjust the position as needed */
  right: 0;
  width: 200px;
  background: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 999;
}
.btn {
  
  --color: #ce88d4;
  --color2: rgb(10, 25, 30);
  /* padding: 0.8em 1.75em; */
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  /* font-weight: 300; */
  /* font-size: 17px; */
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }
 .btn1 {
  
margin-bottom: 6rem;
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }



.header-1,
.header-2,
.header-3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  background:#27036b;
  z-index: 100;
}

.header-1{
  border-bottom: .1rem solid rgb(255, 255, 255);
}

.header-3{
  background:#27036b;
  color: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  position:relative;
  z-index: 10000;
  text-decoration: none;
}

.header-1 span{
  font-weight: lighter;
  color:#fff;
  font-size: 1.7rem;
}

.header-1 a{
  padding:0 .7rem;
  color:#fff;
  font-size: 2rem;
}

.header-1 a:hover{
  color:yellow;
}

.header-2 .logo{
  font-weight: bolder;
  font-size: 3rem;
  color:#fff;
}

.header-2 .logo i{
  color:yellow;
}

.header-2 .search-bar-container{
  display: flex;
  align-items: center;
  width: 50rem;
  padding:1.5rem;
  background:rgba(255,255,255,.2);
  border-radius: .5rem;
}

.header-2 .search-bar-container #search-bar{
  width: 100%;
  background:none;
  text-transform: none;
  color:#fff;
  font-size: 1.7rem;
}

.header-2 .search-bar-container #search-bar::placeholder{
  text-transform: capitalize;
  color:#ddd;
}

.header-2 .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 2rem;
  padding:0 .5rem;
}

.header-2 .search-bar-container label:hover{
  color:yellow;
}

























.scroll-top{
  position: fixed;
  bottom: 7.5rem; right:2rem;
  z-index: 1000;
  font-size: 3.5rem;
  background:rgba(176, 144, 202, 0.418);
  color:var(--green);
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.1);
  padding:.5rem 1.5rem;
  display: none;
}

.scroll-top:hover{
  background:var(--green);
  color:#fff;
}

















/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  .header-1,
  .header-2,
  .header-3{
    padding:2rem;
  }

  section{
    padding:1.5rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: initial;
  }

  .header-3 .navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    background:#eee;
    padding:1rem 2rem;
    border-top: .1rem solid rgba(0,0,0,.3);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header-3 .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header-3 .navbar a{
    display: block;
    margin:1.5rem 0;
    padding:1.5rem;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.3);
    background:#fff;
    text-align: center;
  }

  .header-2{
    flex-flow: column;
  }

  .header-2 .search-bar-container{
    width: 100%;
    margin-top: 2rem;
  }

  .home .home-slider .box{
    background-position: right !important;
    z-index: 0;
  }

  .home .home-slider .box::before{
    content: '';
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width:100%;
    z-index: -1;
    background: rgba(255,255,255,.7);
  }

  .home .home-slider .box .content h3{
    font-size: 4.5rem;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .header-1{
    display: none;
  }

  .deal .row .content .count-down .box{
    width:7rem;
  }

  .deal .row .content .count-down .box h3{
    font-size: 3rem;
    padding:.5rem 0;
  }

  .deal .row .content .count-down .box span{
    font-size: 1.5rem;
  }

}


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container{
  width:1200px;
  border:1px solid var(--white);
  max-width: 100%;
  margin:50px auto 0;
  display: grid;
  grid-template-columns: 200px auto 300px;
  padding:20px;
  border-radius: 30px;
  min-height: 80vh;
}

.container .cart{
  background-color: var(--white);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.container .center{
  background-color: var(--light);
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
}

/* center */



.footer{
background-color: #27036b;
color: #ffffff;
}


.decrease-btn{
height: 20px;
width:20px;
padding:0 ;
margin: 2px;
--glow-color:none;
--glow-spread-color: none;
--enhanced-glow-color:none;
--btn-color: none;
}

.increase-btn{
height: 20px;
width:20px;
padding:0 ;
margin: 2px;
--glow-color:none;
--glow-spread-color: none;
--enhanced-glow-color:none;
--btn-color: none;}


button {
/* --glow-color: rgb(217, 176, 255);
--glow-spread-color: rgba(191, 123, 255, 0.781);
--enhanced-glow-color: rgb(231, 206, 255);
--btn-color: rgb(100, 61, 136);*/
border: .25em solid var(--glow-color);
padding: 1em 3em;
color: var(--glow-color);
font-size: 15px;
font-weight: bold;
background-color: var(--btn-color);
border-radius: 1em;
outline: none;
box-shadow: 0 0 1em .25em var(--glow-color),
       0 0 4em 1em var(--glow-spread-color),
       inset 0 0 .75em .25em var(--glow-color);
text-shadow: 0 0 .5em var(--glow-color);
position: relative;
transition: all 0.3s;
}

button::after {
pointer-events: none;
content: "";
position: absolute;
top: 120%;
left: 0;
height: 100%;
width: 100%;
background-color: var(--glow-spread-color);
filter: blur(2em);
opacity: .7;
transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
color: var(--btn-color);
background-color: var(--glow-color);
box-shadow: 0 0 1em .25em var(--glow-color),
       0 0 4em 2em var(--glow-spread-color),
       inset 0 0 .75em .25em var(--glow-color);
}

button:active {
box-shadow: 0 0 0.6em .25em var(--glow-color),
       0 0 2.5em 2em var(--glow-spread-color),
       inset 0 0 .5em .25em var(--glow-color);}

       









       .cart-box{
        width:26% !important;
        position: absolute;
        left:72%;
        top:25%;
        /* border:solid 1px blue; */
        padding:10px 20px;
    }
    h2{
        font-size: x-large;
        padding:15px 10px;
    }
    
    .cart-wrapper{
        overflow-y: auto;
        max-height: 50%;
        width:24vw;
    }
    .subtotal{
        text-align: right;
        padding:5%;
    }
    .checkout, .view-cart{
        width:95%;
        text-align: center;
        cursor: pointer;
        background-color: rgb(189, 117, 223);
        font-size: large;
        color: #fff;
        margin:10px auto;
        padding:10px 15px;
       
    }
    .checkout{
      margin-left: 4%;
    }
    .view-cart{
        background-color: #fff;
        border: 2px solid rgb(42, 44, 165);
        color: rgb(27, 43, 134);
    }
    .cart-icon{
        text-align: right;
    }
    
    .cart-item{
      display:grid;
      grid-template-columns: 3fr 6fr 1fr;
      padding:5% 2%;
      border-bottom:solid 1px lightgray;  
    }
    
    .cart-item img{
        width:100%;
    }
    .cart-item .details{
        padding-left:10%;
    }
    
    .cart-item h3{
      text-align: left; 
      margin-bottom:5%; 
    }
    
    .cart-item .price{
    display: block;
    text-align: right;
    margin-top: 35%; 
      }
      
     .quantity{
         display: block;
         margin-top:5%;
     } 
    
     .fa-window-close{
         color: rgb(126, 42, 165);
     }
     .cancel{
         text-align: right;
     }
     .whole-cart-window{
         border: solid lightgray 1px;
         border-top:none;
         position: fixed;
         top:12vh;
         background-color: #fff;
         padding-right:2% ;
         height: 100%;

     }
    
     .hide{
         display: none;
     }
    .non-empty::after{
      content: var(--after-content);
      font-size: 25px;
      width:25px;
      display: inline-block;
      text-align: center;
      position: relative;
      top:-20px;
      right:20%;
      background-color: rgb(212, 0, 255);
      border-radius: 50%;
    }
    
    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
       

    }
    .card-item{
        display: flex;
        flex-direction: column;
       width: 400px;
        height:500px;
        justify-content: center;
        align-items: center;
        border: solid 2px rgb(107, 74, 185);
        margin: 5rem;
        background: linear-gradient(to bottom, #d875d0, #7f27e4);
    }
    .card-item img{
        width:100%;
        margin-top: 0;
    }
    .card-item .details{
        text-align: center; 
        color: #ddd;
    }
    .img{
      height: 30050px;
      width: 250px;
      margin-bottom: 2rem;
    }
    .card-item p,.card-item h3 {
        margin-top:10px;   
    }
    .card-item span{
        display: block;
        margin-top:10px;
    }
 




      







    


    .container{
      width: 800px;
      height:300px;
      border: 1px solid;
      background-color: rgba(231, 187, 248, 0.589);
      display: flex;
      flex-direction: column;
      padding: 40px;
      padding-bottom: 0;
      margin-left: 80px;
      margin-bottom: 50px;
     
  }
  hr{
    border:solid #27036b 3px;
    width: 90%;
    margin-top: 20px;
  }
  .payparg{
    background-color:rgb(234, 218, 250) ;
    border-radius: 4px;
    border: solid #27174d 2px;
    margin: 5px;
  }
  .payparg p{
    font-size: 18px;
    margin: 20px;
    display: flex;
  }
  
  .container h1{
      text-align: center;
  }
  
  .first-row{
       display: flex;
  }
  
  .owner{
      width: 100%;
      margin-right: 40px;
  }
  
  .input-field{
      border: 1px solid #999;
  }
  
  .input-field input{
      width: 100%;
      
      padding: 10px;
  }
  
  .selection{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .selection select{
      padding: 10px 20px;
  }
  
  .cheack{
      background-color: blueviolet;
      color: white;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px;
      font-size: 18px;
      transition: 0.5s;
  }
  
  a:hover{
      background-color: rgb(35, 30, 109);
  }
  
  .cards img{
      width: 100px;
  }




  .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    margin: 5px;
    margin-top: 5px;
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #262e3d;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    margin: 5px;
    stroke: var(--accent-color, #17155e);
  }
  
  #cbx2:checked + .check svg {
    stroke: var(--accent-color, #893aa8);
  }
  
  #cbx2:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx2:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }















.container-product{
    width: 100%;
    display: flex;
}
.product{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.gallery{
    flex-basis: 20%;
    position: relative;
}
.gallery img{
    width: 100%;
    display: block;
    padding-top: 15px;
}

.details{
   
    padding: 40px;
    width: 50%;
    
    
   

}

.details h1{
    margin: 10px;

}
.details hr{
    margin: 10px;
    border: 1px solid black;
}

 .stars {
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 10px;
  }
.stars i {
    color: #e6e6e6;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease;
  }
.stars .kk {
    color: #ff9c1a;
  }
  .stars a{
    text-decoration: none;
    color: black;
  }





.controls{
    position: absolute;
    bottom: 0px;
    left: 35%;
    
    
}

.btnproduct{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 8px;
    cursor: pointer;
    background: #D4ADFC;
}
.btnproduct.active{
    background: #4833ec;
}

.details p{
  width: 75%;
}






.fa-cart-plus{
    background:#5C469C;
  }
  
  .addtocart{
    display:block;
    margin-top: 30px;
    border-radius:8px;
    border:none;
    font-size:1em;
    position:relative;
    background:#5C469C;
    cursor:pointer;
    height:2em;
    width:8em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
  }
  .addtocart:hover{
    transform:scale(1.1);
  }
  .pretext{
    color:#fff;
    background:#5C469C;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
   
  }
  i{
    margin-right:10px;
  }
 
 
 
  
  .similar-h1{
    margin-top: 30px;
    text-align: center;

  }
  .similar-products{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
  }
  .similar-item{
    width: 40%;
    height: 100%;
    padding: 8px;
    
  }
  
  .similar-item img{
 width: 100%;
 height: 70%;
 
 
  }
  .gradient{
    background-image: linear-gradient(to bottom , #D4ADFC, #0C134F);
    border-radius: 6px;
    display: flex;
    width: 25%;
    justify-content: center; 
    align-content: center;
    text-align: center;
    align-items: center;
  }

  .similar-item p{
    color:white ;
  }

.priceM{
    margin-top: 45%;
    font-size: 32px;
    color: #191D5A;
}
.similarbtn{
    margin-top: 20px;
    padding: 8px;
    display:block;
    border-radius:8px;
    border:none;
    position:relative;
    left: 16%;
    background:#5C469C;
    cursor:pointer;
    height:12%;
    width:80%;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
}


.similarbtn:hover{
  transform:scale(1.1);
}

i{
  margin-right:10px;
}







.hr2{
    border: 1px solid black;
    margin-top: 3%;
    width: 100%;

}
.Reviews{
  margin: 16px;
  margin-left: 4.5%;
}



.gradient2{
  background-image: linear-gradient(to bottom , #D4ADFC, #0C134F);
  border-radius: 6px;
  display: flex;
  width: 100%;
  height: 150px;
  margin: 16px;
  align-content: center;

}

.ReviewImg{
  width: 60%;
  height: 150px;
  padding: 8px;
  color: white;
  padding-left: 40px;


}
.ReviewImg img{
  width: 100px;
  height: 100px;
  padding: 8px;
  border-radius: 50%;

}
.email{
  padding-top: 10%;

}

.ReviewText{
  border-left: 2px solid black;
  text-align: center;
  align-items: center;
  padding-top: 50px ;
  height: 90%;
  

}

.ReviewText p{
  height: 100%;
  text-align: center;
  
  
}

.ReviewText2{
  border-left: 2px solid black;
  text-align: center;
  align-items: center;
  padding-top: 50px ;
  height: 90%;
  
}
.ReviewText2 p{
  height: 100%;
  text-align: center;
  
  
}





.ReviewsSction{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 3fr;
grid-template-rows: 1fr 1fr;
grid-column-gap: 8%;
margin-left: 3.5%;
margin-top: 16px;


}
.ReviewOne{

  grid-column:1/2 ;
  grid-row: 1/2;
}
.ReviewTow{

  grid-column:1/2 ;
  grid-row: 2/3;

}
.t1{
  grid-column:2/3 ;
  grid-row: 1/2;

}
.t2{
  grid-column:2/3 ;
  grid-row: 2/3;
}














:root {
  --bg-color: white;
  --text-color: black;
  --green:#7555b9;
}
body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.dark-mode {
  --bg-color: #222222;
  --text-color: white;
}
.header-3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  background:var(--green);
}
.header-3{
  background:#27036b;
  color: #FFFFFF;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  position: relative;
 z-index: 10000;
}
.header-3 .navbar a{
  color:#ffffff;
  font-size: 1.4rem;
  margin-right: 2rem;
  text-decoration: none;
}
.header-3 .icons a{
  color:#ffffff;
  font-size: 2.5rem;
  margin-left: 2rem;
  text-decoration: none;
}
.header-3 a:hover{
  color:var(--green);
}
#menu-bar{
  font-size: 3rem;
  color:#666;
  border:.1rem solid #666;
  border-radius: .5rem;
  padding:.5rem 1.5rem;
  cursor: pointer;
  display: none;
}
.header-3.active{
  position: fixed;
  top:0; left: 0; right: 0;
}
.header-3 .icons a{
  color:#ffffff;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.footer {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  background-color: #0C134F;
  color: white;
  padding-left: 40px;
  margin-top: 100px;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer .box-container .box {
  padding: 1rem;
  flex: 1 1 20rem;
}

.footer .box-container .box h3 {
  color: #FAF5F5;
  font-size: 1.5rem;
  padding: 1rem;
}

.footer .box-container .box p {
  color: #FFFAFA;
  font-size: 1rem;
  padding: 1rem;
}

.footer .box-container .box a {
  display: block;
  color: #FFFDFD;
  font-size: 1rem;
  padding: .5rem;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  color: var(--green);
}

.footer .credit {
  font-size: 1rem;
  padding: 1rem 1rem;
  margin-top: 1.5rem;
  border-top: .1rem solid rgba(0, 0, 0, .1);
  text-align: center;
  font-weight: normal;
}

.footer .credit span {
  color: var(--green);
}










.cart{
  position: fixed;
  top: 0;
  right: 0%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: #0C134F;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
}
.cart.active {
right: 0;
}
.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;

}
.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

}
.cart-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title{
  font-size: 1rem;
  text-transform: uppercase;

}
.cart-remove{
  font-size: 24px;
  color: red;
  cursor: pointer;


}
.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;

}
.total-title{
  font-size: 1rem;
  font-weight: 600;

}
.total-price{
  margin-left: 0.5rem;
}
.btn-buy{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background:yellow ;
  color: #ce88d4;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

}
.btn-buy:hover{
  border: black;
}

.close-cart{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color:#222222 ;
  cursor: pointer;



}


